body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #222; /* Dark background */
  color: #fff; /* Light text */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  background-color: #333; /* Darker container background */
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 80%; /* Adjust as needed */
  max-width: 600px;
}


h1 {
margin-bottom: 20px;
color: #fff;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
  margin-bottom: 20px;
}
.score-container {
font-size: 1.5rem;
color: #fff;
}

.score {
  font-weight: bold;
  color: #00e676;
  margin-left: 5px;
}
.action-button {
padding: 14px 28px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1.1rem;
transition: background-color 0.3s ease;
margin-bottom: 15px;
  font-weight: bold;
  margin: 10px 0;
}

.start-button {
  background-color: #007bff; /* Blue */
  color: white;
}

.start-button:hover {
background-color: #0056b3;
}

.stop-button {
  background-color: #dc3545; /* Red */
  color: white;
}

.stop-button:hover {
background-color: #b02a37;
}

.motion-data {
  margin-top: 20px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.motion-data p {
  color: #ddd;
}

.last-flip {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #999;
}